.app-header {
    background-color: #28a745; 
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Para fijar en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    z-index: 1000; 
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-title {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.search-bar {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    width: 250px;
    margin-right: 20px;
}

.header-nav {
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.1rem;
}

.nav-link:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .app-header {
        flex-direction: column; /* Apila los elementos verticalmente */
        padding: 10px;
    }

    .header-left {
        width: 100%;
        margin-bottom: 10px;
    }

    .header-right {
        width: 100%;
        justify-content: space-between;
    }

    .header-nav {
        display: none; 
    }

    .search-bar {
        width: 100%; 
        margin-right: 0;
    }
}